<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <TextAreaAppender name="JavaFXLogger">
            <PatternLayout pattern="%d{HH:mm:ss} - %m%n"/>
        </TextAreaAppender>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="JavaFXLogger"/>
        </Root>
    </Loggers>
</Configuration>